
<div class="animate__animated animate__fadeIn animate__faster">
  <h2>Por Capital</h2>
  <hr>
  <div class="row">
    <div class="col">
      <app-pais-input
        (onEnter)="buscar($event)"
        (onDebounce)="sugerencias($event)"
        placeholder="Buscar por capital..."
      ></app-pais-input>
    </div>
  </div>
  
  <hr>
</div>

<div *ngIf="hayError" class="alert alert-danger">
  No se encontró nada con el termino {{termino}}
</div>

<div class="row">
  <div class="col">
    <app-pais-tabla [paises]="paises" ></app-pais-tabla>
  </div>
</div>