<table *ngIf="paises.length > 0" class="table table-hover animate__animated animate__bounceInDown">
  <thead>
    <tr>
      <th>#</th>
      <th>Bandera</th>
      <th>Nombre</th>
      <th>Población</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pais of paises;let i= index">
      <td>{{i+1}}</td>
      <td>
        <img class="small-flag" [src]="pais.flag.medium" [alt]="pais.name">
      </td>
      <td>{{pais.capital | titlecase}}, {{pais.name | titlecase}}</td>
      <td>{{pais.population | number}}</td>
      <td>
        <a [routerLink]="['/pais', pais.name]">Ver</a>
      </td>
    </tr>
  </tbody>
</table>