
<div *ngIf="!paiss[0]"
  class="alert alert-info">  
  <h3>Cargando Datos</h3>
</div>
<div *ngIf="paiss ; else Faltapais" class="animate__animated animate__bounceIn">
    <div *ngFor="let pais of paiss"  >
    <div class="row">
      <div class="col-12 my-3" >
        <h1>{{pais.name}}</h1>
        <h4> <strong>Nombre oficial: </strong>{{pais.altSpellings[2]}}</h4>
      </div>
    </div>

    <div class="row">
      <div class=col-4>
        <h3>Bandera: </h3>
        <img class="img-thumbail" [src]="pais.flag.medium" alt="pais.name">
      </div>

      <div class="col-8">
        <h3>Información</h3>
        <ul class="list-group col">
          <li class="list-group-item">
            <strong>Población: </strong> {{pais.population | number}}
          </li>
          <li class="list-group-item">
            <strong>Region: </strong> {{pais.region}} - {{pais.subregion}}
          </li>
          <li class="list-group-item">
            <strong>Capital: </strong> {{pais.capital}}
          </li>
        </ul>
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item col">
            <strong>Alpha2Code: </strong> {{pais.alpha2Code}}
          </li>
          <li class="list-group-item col">
            <strong>Alpha3Code: </strong> {{pais.alpha3Code}}
          </li>
        </ul>
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item">
            <strong>NumericCode: </strong> +{{pais.numericCode}}
          </li>
          <li class="list-group-item">
            <strong>Timezones: </strong> {{pais.timezones[0]}}
          </li>
          <li class="list-group-item">
            <strong>Lenguaje: </strong> {{lengua}}
          </li>
        </ul>
      </div>
    </div>

    <h3>Traducciónes</h3>
    <div class="row">
      <div class="col">
        <span class="badge bg-primary mr-1">{{pais.translations.ara}}</span>
        <span class="badge bg-primary mr-1">{{pais.translations.ces}}</span>
        <span class="badge bg-primary mr-1  ">{{pais.translations.cym}}</span>
        <span class="badge bg-primary mr-1">{{pais.translations.deu}}</span>
        <span class="badge bg-primary mr-1">{{pais.translations.est}}</span>
        <span class="badge bg-primary mr-1">{{pais.translations.fin}}</span>
        <span class="badge bg-primary mr-1">{{pais.translations.fra}}</span>
        <span class="badge bg-primary mr-1">{{pais.translations.hrv}}</span>
        <span class="badge bg-primary mr-1">{{pais.translations.hun}}</span>
        <span class="badge bg-primary mr-1">{{pais.translations.ita}}</span>
        <span class="badge bg-primary mr-1">{{pais.translations.jpn}}</span>
        <span class="badge bg-primary mr-1">{{pais.translations.kor}}</span>
        <span class="badge bg-primary mr-1">{{pais.translations.per}}</span>
        <span class="badge bg-primary mr-1">{{pais.translations.pol}}</span>
        <span class="badge bg-primary mr-1">{{pais.translations.por}}</span>
        <span class="badge bg-primary mr-1">{{pais.translations.rus}}</span>
        <span class="badge bg-primary mr-1">{{pais.translations.slk}}</span>
        <span class="badge bg-primary mr-1">{{pais.translations.spa}}</span>
        <span class="badge bg-primary mr-1">{{pais.translations.swe}}</span>
        <span class="badge bg-primary mr-1">{{pais.translations.urd}}</span>
        <span class="badge bg-primary mr-1">{{pais.translations.zho}}</span>
      </div>
    </div>

  </div>
</div>

<ng-template #Faltapais>
  <div class="alert alert-danger">
    <h3>Lo siento, No se encontraron datos</h3>
    <p>No se encontro {{id}}</p>
  </div>
</ng-template>

