<div class="animate__animated animate__fadeIn animate__faster">


<h3>Buscar por region <small> {{regionActiva | titlecase}}</small></h3>
<hr>

<h5>Seleccione la Region</h5>
</div>
<div class="row animate__animated animate__flipInX">
  <div class="col">
    <!-- [class.btn-primary]="region === regionActiva" -->
    <!-- [ngClass]="{
        'btn-primary': region === regionActiva,
        'btn-outline-primary': regionActiva !== region
      }" -->
    <button *ngFor="let region of regiones"
      [class]="getClasseCSS(region)"
      (click)="ActivarRegion(region)"
    >
      {{region | titlecase}}
    </button>
  </div>
  <div class="col">
    <app-pais-tabla [paises]="paises" ></app-pais-tabla>
  </div>
</div>